
# DB Configuration

DBHOST=
DBUSER=
DBPASSWORD=
DATABASE=


# Server Environment
NODE_ENV=
PORT=

# Security
JWT_SECRET=

# AWS
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_SIGNATURE_VERSION=
AWS_S3_BUCKET_NAME=

MEDIA_SERVER=
IMAGE_PATH=

SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
DEFAULT_FROM=
DEFAULT_REPLY_TO=

ENV_CHECKS_FOR_MAIL_AND_SMS=

EXCEPTION_MAIL=
SENDGRID_API_KEY=

OTP_SECRET_KEY=